*{
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: rgb(0, 171, 227);
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10rem 45rem;

}

/* SIDE BAR */
.dashboard{
    grid-row: 1/-1;
    grid-column: 1;
    background-color: var(--bg-color);
    color: white;
    font-size: 18px;
}

#dashboardLogo{
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
}
#dashboardLogo>h2{
    padding: 10px;
}
.dashboard-content,
.setting{
    margin-top: 50px;
    margin-left: 25px;
}

.dashboard-content>ul,
.setting>ul{
    display: grid;
    grid-template-columns: 10px 1fr;
    list-style: none;
}
.menu,
.settingContent{
    padding: 0px 0px 22px 30px;
}

.container img{
    margin-right: 5px;
}
/* TOP PART */
.header{
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 18px 30px 0px 30px;
    box-shadow:  10px -3px 155px rgb(91, 91, 91);
}

/* ROW 1 OF TOP PART*/
.row1{
    display: grid;
    grid-template-columns: 0.15fr 3fr 1fr;
}

#search{
    width: 750px;
    height: 25px;
    border-radius: 100px;
    background-color: gainsboro;
    border: none;
}

.row1Content{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.row1Content>h3{
    font-size: 23px;
}

#profile{
    height: 37px;
    width: 42px;
}

/* ROW 2 OF TOP PART*/

.row2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.greet{
    display: grid;
    grid-template-columns: 80px 1fr;
}

#hello{
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
#name{
    font-weight: 1000;
    font-size: 23px;
    padding: 5px;
}
#profileRow2{
    height: 68px;
    width: 68px;
}

.buttons{
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
}

.btns{
    border-radius: 100px;
    background-color: var(--bg-color);
    color: white;
    width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.btns:hover{
    background-color: #fff;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
}

/* MAIN BODY */
.content{
    grid-column: 2/-1;
    grid-row: 2/-1;
    margin-top: 3px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr ;
    gap: 25px;
    padding: 17px 17px 40px 17px;
    background-color: rgb(199, 196, 196);
}

/* LEFT SIDE OF MAIN */
.leftSide{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 44px repeat(3, 1fr);
}
#main-title{
    grid-row: 1;
    grid-column: 1/3;
    height: 25px;
    padding: 10px;  

}

/* PROJECTS BOX OF LEFT SIDE*/
.project{
    display: grid;
    grid-column: 1/3;
    grid-row: 2/-1;
    grid-template-columns: repeat(2, 2fr);
    gap: 25px;
    grid-template-rows: 1fr 1fr 1fr;
}

.projects{
    border: none;
    background-color: white;
    border-radius: 6px;
    box-shadow: inset 10px 0px 0px 0px orange;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 10em;
    overflow: auto;

}

.projectContent{
    padding: 30px 0px 0px 30px;
}

.projectContent>h4{
    font-size: 18px;
}

.projectContent>p{
    color: rgb(122, 121, 121);
}

.projectChanges{
    padding: 10px 0px 20px 200px;
    display: flex;
    justify-content: space-evenly;
}


/* ANNOUNCEMENT BOX*/

.announcement{
    grid-column: 3;
    grid-row: 2/3;
}

/* TRENDING BOX */

.trending{
    grid-column: 3;
    grid-row: 3/5;
    height: 25px;
    padding: 10px;
}

#trending-names{
    grid-column: 3;
    margin-top: 5vh;
    grid-row: 3/4;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly   ;    
}